static/files/matrikkelfoeringv2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.geointegrasjon.no/Matrikkel/foering/v2" xmlns:mf="http://rep.geointegrasjon.no/Matrikkel/foering/v2" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" elementFormDefault="qualified">
  <!-- Generert av MetaTrans(1.1.0.0) - 01.06.2021 11:21:54-->
  <!-- -manually made VarmefordelingListe, EnergiforsyningTypeListe -->
  <xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31/giFellesGeometri20120131.xsd"/>
  <xs:element name="Adresse" type="mf:AdresseType" />
  <xs:complexType name="AdresseListe">
    <xs:sequence>
      <xs:element name="adresse" type="mf:AdresseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdresseType">
    <xs:sequence>
      <xs:element name="adressekode" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressenavn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressebokstav" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="undernummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Avloepstilknytning" type="mf:AvloepstilknytningType" />
  <xs:complexType name="AvloepstilknytningType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bruksenhet" type="mf:BruksenhetType" />
  <xs:complexType name="BruksenhetListe">
    <xs:sequence>
      <xs:element name="bruksenhet" type="mf:BruksenhetType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BruksenhetType">
    <xs:sequence>
      <xs:element name="bruksenhetsnummer" minOccurs="1" maxOccurs="1" type="mf:BruksenhetsnummerType" />
      <xs:element name="bruksenhetstype" minOccurs="0" maxOccurs="1" nillable="true" type="mf:BruksenhetstypeKodeType" />
      <xs:element name="bruksareal" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="kjoekkentilgang" minOccurs="0" maxOccurs="1" nillable="true" type="mf:KjoekkentilgangKodeType" />
      <xs:element name="antallRom" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="antallBad" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="antallWC" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="mf:AdresseType" />
      <xs:element name="matrikkelnummer" minOccurs="0" maxOccurs="1" nillable="true" type="mf:MatrikkelnummerType" />
      <xs:element name="endring" minOccurs="1" maxOccurs="1" type="mf:EndringsstatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bruksenhetsnummer" type="mf:BruksenhetsnummerType" />
  <xs:complexType name="BruksenhetsnummerListe">
    <xs:sequence>
      <xs:element name="bruksenhetsnummer" type="mf:BruksenhetsnummerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BruksenhetsnummerType">
    <xs:sequence>
      <xs:element name="etasjeplan" minOccurs="1" maxOccurs="1" type="mf:EtasjeplanType" />
      <xs:element name="etasjenummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="loepenummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BruksenhetstypeKode" type="mf:BruksenhetstypeKodeType" />
  <xs:complexType name="BruksenhetstypeKodeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Byggesak" type="mf:ByggesakType" />
  <xs:complexType name="ByggesakListe">
    <xs:sequence>
      <xs:element name="byggesak" type="mf:ByggesakType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ByggesakType">
    <xs:sequence>
      <xs:element name="systemId" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="saksnummer" minOccurs="1" maxOccurs="1" type="mf:SaksnummerType" />
      <xs:element name="kategori" minOccurs="1" maxOccurs="1" type="mf:ProsesskategoriType" />
      <xs:element name="vedtak" minOccurs="0" maxOccurs="1" nillable="true" type="mf:VedtakType" />
      <xs:element name="ansvarligSoeker" minOccurs="0" maxOccurs="1" nillable="true" type="mf:PartType" />
      <xs:element name="tiltakshaver" minOccurs="0" maxOccurs="1" nillable="true" type="mf:PartType" />
      <xs:element name="matrikkelopplysninger" minOccurs="0" maxOccurs="1" nillable="true" type="mf:MatrikkelopplysningerType" />
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="referanseAndreSaker" minOccurs="0" maxOccurs="1" nillable="true" type="mf:SaksnummerListe" />
      <xs:element name="referanseKlagesaker" minOccurs="0" maxOccurs="1" nillable="true" type="mf:SaksnummerListe" />
      <xs:element name="registrertDato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="saksbehandler" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="posisjon" minOccurs="0" maxOccurs="1" nillable="true" type="fellesgeometrins:Punkt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ByggIdent" type="mf:ByggIdentType" />
  <xs:complexType name="ByggIdentListe">
    <xs:sequence>
      <xs:element name="byggident" type="mf:ByggIdentType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ByggIdentType">
    <xs:sequence>
      <xs:element name="bygningsnummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="bygningsloepenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bygning" type="mf:BygningType" />
  <xs:complexType name="BygningListe">
    <xs:sequence>
      <xs:element name="bygning" type="mf:BygningType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BygningType">
    <xs:sequence>
      <xs:element name="naeringsgruppe" minOccurs="0" maxOccurs="1" nillable="true" type="mf:NaeringsgruppeType" />
      <xs:element name="bebygdAreal" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bygningstype" minOccurs="0" maxOccurs="1" nillable="true" type="mf:BygningstypeType" />
      <xs:element name="bruksenheter" minOccurs="0" maxOccurs="1" nillable="true" type="mf:BruksenhetListe" />
      <xs:element name="etasjer" minOccurs="0" maxOccurs="1" nillable="true" type="mf:EtasjeListe" />
      <xs:element name="avlop" minOccurs="0" maxOccurs="1" nillable="true" type="mf:AvloepstilknytningType" />
      <xs:element name="energiforsyning" minOccurs="0" maxOccurs="1" nillable="true" type="mf:EnergiforsyningType" />
      <xs:element name="vannforsyning" minOccurs="0" maxOccurs="1" nillable="true" type="mf:VanntilknytningType" />
      <xs:element name="harHeis" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
      <xs:element name="endring" minOccurs="1" maxOccurs="1" type="mf:EndringsstatusType" />
      <xs:element name="representasjonsPunkt" minOccurs="0" maxOccurs="1" nillable="true" type="fellesgeometrins:Punkt" />
      <xs:element name="tiltakid" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="byggIdent" minOccurs="0" maxOccurs="1" nillable="true" type="mf:ByggIdentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dispensasjon" type="mf:DispensasjonType" />
  <xs:complexType name="DispensasjonListe">
    <xs:sequence>
      <xs:element name="dispensasjon" type="mf:DispensasjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DispensasjonType">
    <xs:sequence>
      <xs:element name="dispensasjonstype" minOccurs="1" maxOccurs="1" type="mf:DispensasjonstypeType" />
      <xs:element name="begrunnelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dispensasjonstype" type="mf:DispensasjonstypeType" />
  <xs:complexType name="DispensasjonstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Energiforsyning" type="mf:EnergiforsyningType" />
  <xs:complexType name="EnergiforsyningListe">
    <xs:sequence>
      <xs:element name="energiforsyning" type="mf:EnergiforsyningType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnergiforsyningType">
    <xs:sequence>
      <xs:element name="varmefordeling" minOccurs="0" maxOccurs="1" nillable="true" type="mf:VarmefordelingListe" />
      <xs:element name="energiforsyning" minOccurs="0" maxOccurs="1" nillable="true" type="mf:EnergiforsyningTypeListe" />
      <xs:element name="relevant" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnergiforsyningType" type="mf:EnergiforsyningTypeType" />
  <xs:complexType name="EnergiforsyningTypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnergiforsyningTypeListe">
    <xs:sequence>
      <xs:element name="energiforsyningType" type="mf:EnergiforsyningTypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnkelAdresse" type="mf:EnkelAdresseType" />
  <xs:complexType name="EnkelAdresseListe">
    <xs:sequence>
      <xs:element name="enkeladresse" type="mf:EnkelAdresseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnkelAdresseType">
    <xs:sequence>
      <xs:element name="adresselinje1" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adresselinje2" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adresselinje3" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="postnr" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="poststed" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="landkode" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Etasje" type="mf:EtasjeType" />
  <xs:complexType name="EtasjeListe">
    <xs:sequence>
      <xs:element name="etasje" type="mf:EtasjeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EtasjeType">
    <xs:sequence>
      <xs:element name="etasjenummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="etasjeplan" minOccurs="1" maxOccurs="1" type="mf:EtasjeplanType" />
      <xs:element name="antallBoenheter" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="bruksarealTilAnnet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruksarealTilBolig" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruksarealTotalt" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruttoarealTilBolig" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruttoarealTotalt" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruttoarealTilAnnet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="endring" minOccurs="1" maxOccurs="1" type="mf:EndringsstatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Etasjeplan" type="mf:EtasjeplanType" />
  <xs:complexType name="EtasjeplanType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KjoekkentilgangKode" type="mf:KjoekkentilgangKodeType" />
  <xs:complexType name="KjoekkentilgangKodeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrikkelopplysninger" type="mf:MatrikkelopplysningerType" />
  <xs:complexType name="MatrikkelopplysningerListe">
    <xs:sequence>
      <xs:element name="matrikkelopplysninger" type="mf:MatrikkelopplysningerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrikkelopplysningerType">
    <xs:sequence>
      <xs:element name="eiendomsidentifikasjon" minOccurs="0" maxOccurs="1" nillable="true" type="mf:MatrikkelnummerListe" />
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="mf:AdresseListe" />
      <xs:element name="bygning" minOccurs="0" maxOccurs="1" nillable="true" type="mf:BygningListe" />
      <xs:element name="oppdatertDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part" type="mf:PartType" />
  <xs:complexType name="PartListe">
    <xs:sequence>
      <xs:element name="part" type="mf:PartType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartType">
    <xs:sequence>
      <xs:element name="partstype" minOccurs="1" maxOccurs="1" type="mf:PartstypeType" />
      <xs:element name="foedselsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="organisasjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="navn" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="mf:EnkelAdresseType" />
      <xs:element name="telefonnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="mobilnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="epost" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partstype" type="mf:PartstypeType" />
  <xs:complexType name="PartstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prosesskategori" type="mf:ProsesskategoriType" />
  <xs:complexType name="ProsesskategoriType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Saksnummer" type="mf:SaksnummerType" />
  <xs:complexType name="SaksnummerListe">
    <xs:sequence>
      <xs:element name="saksnummer" type="mf:SaksnummerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaksnummerType">
    <xs:sequence>
      <xs:element name="saksaar" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="sakssekvensnummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tiltak" type="mf:TiltakType" />
  <xs:complexType name="TiltakListe">
    <xs:sequence>
      <xs:element name="tiltak" type="mf:TiltakType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiltakType">
    <xs:sequence>
      <xs:element name="tiltakid" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="tiltakstype" minOccurs="1" maxOccurs="1" type="mf:TiltaktypeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tiltaktype" type="mf:TiltaktypeType" />
  <xs:complexType name="TiltaktypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vanntilknytning" type="mf:VanntilknytningType" />
  <xs:complexType name="VanntilknytningType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Varmefordeling" type="mf:VarmefordelingType" />
  <xs:complexType name="VarmefordelingType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VarmefordelingListe">
    <xs:sequence>
      <xs:element name="varmefordeling" type="mf:VarmefordelingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vedtak" type="mf:VedtakType" />
  <xs:complexType name="VedtakListe">
    <xs:sequence>
      <xs:element name="vedtak" type="mf:VedtakType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VedtakType">
    <xs:sequence>
      <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="vedtaksdato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="status" minOccurs="1" maxOccurs="1" type="mf:VedtakstypeType" />
      <xs:element name="tiltak" minOccurs="0" maxOccurs="1" nillable="true" type="mf:TiltakListe" />
      <xs:element name="dispensasjoner" minOccurs="0" maxOccurs="1" nillable="true" type="mf:DispensasjonListe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vedtakstype" type="mf:VedtakstypeType" />
  <xs:complexType name="VedtakstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bygningstype" type="mf:BygningstypeType" />
  <xs:complexType name="BygningstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrikkelnummer" type="mf:MatrikkelnummerType" />
  <xs:complexType name="MatrikkelnummerListe">
    <xs:sequence>
      <xs:element name="matrikkelnummer" type="mf:MatrikkelnummerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrikkelnummerType">
    <xs:sequence>
      <xs:element name="kommunenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="gaardsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="bruksnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="festenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="seksjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Naeringsgruppe" type="mf:NaeringsgruppeType" />
  <xs:complexType name="NaeringsgruppeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EndringsstatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Eksisterende" />
      <xs:enumeration value="Ny" />
      <xs:enumeration value="Endret" />
      <xs:enumeration value="Fjernet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EndringsstatusListe">
    <xs:sequence>
      <xs:element name="endringsstatus" type="mf:EndringsstatusType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>